@import url("https://fonts.googleapis.com/css?family=Ubuntu");

@keyframes sh {
  0% {
    translate: 0 0;
  }

  12.5% {
    translate: -25% 0;
  }

  37.5% {
    translate: 25% 0;
  }

  62.5% {
    translate: -12.5% 0;
  }

  87.5% {
    translate: 12.5% 0;
  }

  100% {
    translate: 0 0;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

* {
  font-family: Ubuntu;
}

body {
  height: 100vh;
  color: #ffffff;
  background-color: #1e1e1e;
  margin: 0;
}

input[type="text"],
input[type="password"] {
  border: 2px solid #000;
  border-radius: 4px;
  color: #ffffff;
  background-color: #1e1e1e;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: 1px solid #ff8000;
}

#unlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 100%;
}

#username-scr,
#password-scr {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sh {
  animation: sh 500ms ease-in-out;
}

.hidden {
  display: none !important;
}

.spinner {
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #0f0 #ff8000 #00f #0000;
  border-radius: 50%;
  animation: spin 1000ms linear infinite;
}