body {
  font-family: system-ui;
  color: #fff;
  background: #101010;
}

a {
  color: inherit;
}

code {
  padding: 0.5em;
  border-radius: 0.5em;
  background: #202020;
}

kbd {
  padding: 0.5em;
  border-radius: 0.5em;
  font: inherit;
  background: #202020;
}

li {
  margin: 0.5em;
}